* {
  outline: none;
  box-sizing: border-box;
}

body{
  font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login-container, .register-container{
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

 .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin-bottom : 15px;
 }

  .form-group input,
  .form-group select{
    width: 100%;
    padding: 8px 6px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }

  .form-group input:focus{
    border: 1px solid lightblue;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(173, 216, 230, 0.8);
  }

  .form-group label{
    text-align: start;
  }

.submit-login {
  width: 100%;
}

button {
  padding: 8px;
  border: 1px solid lightblue;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  transition: 0.5s;
}

button:hover{
  background-color: #45a049;
  color: white;
}



